*{

    font-family: 'Candara';
    margin: 0;
    padding: 0;
    border: 0;
    outline: 0;
    font-size: 100%;
    font-weight: 700;
    vertical-align: baseline;

}
a{
    /* Motverkar href underline och färg */
    color: inherit;
    text-decoration: none;

    /* Gör hela divven klickbar (href) */
    display: block;

}


/* Index.html */

#titlediv{
    z-index: 100;
    position: absolute;
    right: 100px;
    left: 100px;
    top: 30%;
    font-size: 100px;
    font-weight: bold;
    color:#e6e6e6;  
    text-align: center; 
}

#subtitle{
    font-size: 50px;
    opacity: 0; 
}

#titleimage{
    position: fixed; 
    top: -50%; 
    left: -50%; 
    width: 200%; 
    height: 200%;
}

#titleimage a img{
    z-index: -1;
    position: absolute; 
    top: 0; 
    left: 0; 
    right: 0; 
    bottom: 0; 
    margin: auto; 
    min-width: 50%;
    min-height: 50%;
    -webkit-filter: blur(4px);
    -moz-filter: blur(4px);
}

.titlebody:hover #subtitle{                               
    opacity: 1;
    -webkit-transition: opacity .5s .5s ease-in-out;
    -moz-transition: opacity .5s .5s ease-in-out;
    -ms-transition: opacity .5s .5s ease-in-out;
    -o-transition: opacity .5s .5s ease-in-out;
    transition: opacity .5s .5s ease-in-out;
}

/* Index.html */





/* Home.html */


/* Container */

#container{
    margin: 0 auto;
    margin-top: 50px;
    margin-bottom: 50px;
    width: 80%; 
    height: auto;
}

body{
    height: 100%; 
    background-color: #ede8e4;
}

#header{
    padding-top: 20px;
    background-image: url("Bilder/HeaderPencil.png");
    background-repeat: no-repeat;
    background-position: center; 

    text-align: center;
    color:  black;
    width: 100%;
    position: relative;
}


#header h1{
    font-size: 70px;

}
#header h3{
    font-size: 30px;

}

/* BAR */
.nav ul {list-style:none; margin:0; padding:0; width: 100%; z-index: 100;}
.nav li {float:left; width:19%; background-color:#ff8800; text-align:center;
    position:relative;
    height:50px; line-height:50px; font-size: 21px; z-index: 100;}
.nav li ul li {float:none; width:100%; text-align:center;}
.nav a {text-decoration:none; color:white;background-color: transparent;}

.nav p {text-decoration:none; color:white;background-color: transparent;}
.nav li ul {position:absolute; top:45px; left:0; visibility:hidden;}
.nav li:hover ul {visibility:visible;background-color:#bd0b0b;}
.nav li:hover {background-color:#bd0b0b;}
/* BAR */
.shoppingcart{
    float: left;
    width: 3%;
    background-blend-mode:normal;
    background-color: #ff8800;


}
.shoppingcartamount{
    float: left;
    width: 2%;
    text-align:right;
    background-color: #ff8800;
    height:50px;
    
    
}
.shoppingcartamount a{
    color: white;
    font-size: 24px;
    line-height: 40px;
    padding-right: 3px;
    
}

/* Container */

.block {
    width: 18%;
    height: 300px;
    background-color: #ff8800;
    display: inline-block;
    cursor: pointer;
    position: relative;
    text-align: center;

}

.block:hover {
    background-color: #bd0b0b;
    width: 25%;
    -webkit-transition: width .5s ease-in-out, background-color .5s ease-in-out;
    -moz-transition: width .5s ease-in-out, background-color .5s ease-in-out;
    -ms-transition: width .5s ease-in-out, background-color .5s ease-in-out;
    -o-transition: width .5s ease-in-out, background-color .5s ease-in-out;
    transition: width .5s ease-in-out, background-color .5s ease-in-out;
}

.block:hover .img-p {
    opacity: 1;
    -webkit-transition: opacity .5s .51s ease-in-out;
    -moz-transition: opacity .5s .51s ease-in-out;
    -ms-transition: opacity .5s .51s ease-in-out;
    -o-transition: opacity .5s .51s ease-in-out;
    transition: opacity .5s .51s ease-in-out;
}

.block:hover .layer {
    opacity: .5;
    -webkit-transition: opacity .5s ease-in-out;
    -moz-transition: opacity .5s ease-in-out;
    -ms-transition: opacity .5s ease-in-out;
    -o-transition: opacity .5s ease-in-out;
    transition: opacity .5s ease-in-out;
}

.layer {
    position: absolute;
    left: 0;
    top: 0;
    bottom: 0;
    right: 0;
    background-color: #bd0b0b;
    width: 100%;
    height: 100%;
    opacity: 0;
}

.img-p {
    position: absolute;
    font-size: 20px;
    opacity: 0;
    color: #FFF;
    background-color: transparent; 
    text-align: left;
    line-height: 1.6em;
}

.p-container {
    width: 80%;
    position: relative;
    top: 35%;
    margin-left: 5%;
}
.blocks{
    margin-left: 50px;
    margin-top: 250px;

}
/* Home.html */







/* Productpage.html */

#buy_product {
    width: 100%;
    background-color:#ff8800;
    flex-grow : 1;
}

#product{
    margin-top: 4em;
    width: 100%;
    height: 600px;
    float: left;
    background-color: grey;
}

#product #imagediv {
    width: 60%;
    height: 100%;
    float: left;
    background-color: white;
}

#product .list {
    width: 40%;
    height:100%;
    float: left;
    background-color: cyan;
    display: flex;
  flex-flow: column;
}

#product img{ 
    margin-left: auto;
    margin-right: auto;
    max-width: 100%;
    height: 100%;
}

.responsive-table {
    margin-top: 0;
    width: 100%;
    height: 78%;
    background-color: #ffac4d;
    color: black;
    table-layout: fixed; 
    font-size: 1.4em;
}

.responsive-table caption{
    padding-top: 10px;
    padding-bottom: 10px;    
    background-color: #ff8800;
    font-size: 30px;
    font-weight: bold;
}

.responsive-table td{
    padding-top: 20px;
    text-align: center;
}
.buyButton{
    width: 45%;
    height: 100%;
    float: left;
    text-align: center;
    font-size: 3em;
    font-weight: bold;
    flex-grow : 1;
    background-color:  #bd0b0b;


}
.buyButton a{
    padding-top: 7px;

}
.selectAmountdiv{
    width: 55%;
    height: 100%;
    float: left;
    text-align: center;
    font-weight: bold;
    background-color:  #ff8800;


}
.amountform{
    width: 100%;
    font-size: 36px;
    padding-top: 12px;

}
.amountform input[type=text]{
    width: 38%;
    font-size: 36px;
    text-align: center
}
.amountform input[type=number]{
    width: 38%;
    font-size: 36px;
    text-align: center
}
.amountform a{
    color: #bd0b0b;

}



.reviewdivrubric{
    width: 100%;
    height:80px;
    float: left;
    margin-top: 60px;
    text-align: center;
    font-size: 55px;
    font-weight: bold;
    background-color: #ff8800;

}

#reviewdiv{
    width: 100%;
    height: 400px;
    float: left;
    margin-bottom: 60px;
    text-align: center;
    font-size: 28px;
    font-weight: bold;
    background-color: #ffac4d;
    overflow-y: scroll;
    white-space: nowrap;


}

.review-table {
    width: 100%;
    height: 370px;
    float: left;
    background-color: #ffac4d;
    color: black;
    font-size: 24px;
}

.review-table td{
    padding-top: 10px;
    text-align: center;
}

#buy_product #out_of_order {
    text-align: center;
    font-size: 3em;
    font-weight: bold;
}

/* Productpage.html */






/* Shoppingcart.html */

#shoppingcartrubric{
    width: 100%;
    float: left;
    height: 100px;
    background-color: #ff8800;
    margin-top: 60px;
    font-size: 60px;
    font-weight: bold;
    text-align: center; 
    padding-top: 5px;

}
#shoppingcartdiv{
    width: 100%;
    height: 400px;
    float: left;
    text-align: center;
    font-size: 28px;
    font-weight: bold;
    background-color: #ffac4d;
    overflow-y: scroll;
    white-space: nowrap;

}
.shoppingcart-table{

    width: 100%;
    height: 370px;
    float: left;
    background-color: #ffac4d;
    color: black;
    font-size: 24px;
}

.shoppingcart-table td{
    padding-top: 10px;
    text-align: center;
}
#shoppingcartcheckout{
    width: 52%;
    float: left;
    height: 80px;
    background-color: #ff8800;
    font-size: 60px;
    font-weight: bold;
    text-align: center; 

}
#tömshoppingcartdiv{
    width: 10%;
    height: 80px;
    line-height: 70px;
    float: left;
    text-align: center;
    font-size: 52px;
    font-weight: bold;
    background-color: #bd0b0b;

}

#shoppingcartcheckoutbutton{
    width: 38%;
    float: left;
    height: 80px;
    background-color: #ff8800;
    font-size: 60px;
    font-weight: bold;
    text-align: center; 

}

.plussknapp{
    background-image: url(Bilder/plusknapp.png);
    background-size: 100%;
    background-repeat:no-repeat;
    width: 30px;
    height: 30px;
    cursor: pointer;
    padding-top: 14px;

}
.minusknapp{
    background-image: url(Bilder/minusknapp.png);
    background-size: 100%;
    background-repeat:no-repeat;
    width: 30px;
    height: 30px;
    cursor: pointer;
    padding-top: 14px;
}
.deleteproduktknapp{
    background-image: url(Bilder/deleteknapp.png);
    background-size: 100%;
    background-repeat:no-repeat;
    width: 40px;
    height: 40px;
    cursor: pointer;
    padding-top: 14px;
    
}



/* Shoppingcart.html */


/* Shoppingcart_empty.php */

#emptyshoppingcartdiv{
    width: 100%;
    height: 160px;
    float: left;
    text-align: center;
    font-size: 52px;
    font-weight: bold;
    background-color: #ffac4d;
    padding-top: 60px;
    padding-bottom: 60px;

}
/* Shoppingcart_empty.php */



/* Login.html */


.logindiv{
    width: 100%;
    padding-top: 2%;
    padding-bottom: 2%;
    float: left;
    margin-bottom: 60px;
    margin-top: 60px;
    font-size: 60px;
    text-align: center; 
    background-color: #c7c4c1;

}
.logindiv legend{
    width: 100%;
    font-size: 80px;
    text-align: center; 
    color: #bd0b0b;
}


/* Login.html */


/* Userpage.php */


#userpagerubric{
    width: 100%;
    float: left;
    height: 100px;
    background-color: #ff8800;
    margin-top: 60px;
    font-size: 60px;
    font-weight: bold;
    text-align: center; 

}
#orderdiv{
    width: 100%;
    height: 400px;
    float: left;
    text-align: center;
    font-weight: bold;
    background-color: #ffac4d;
    overflow-y: scroll;

}
.userpage-table{

    width: 100%;
    height: auto;
    float: left;
    background-color: #ffac4d;
    color: black;
    font-size: 24px;


}
.userpage-table th{
    text-align: center;
}
.userpage-table td{
    padding-top: 10px;
    text-align: center;
}
#logoutdiv{
    width: 60%;
    float: left;
    height: 80px;
    background-color: #ff8800;
    font-size: 60px;
    font-weight: bold;
    text-align: center; 

}
.cancelaccountdiv{
    width: 40%;
    float: left;
    height: 80px;
    background-color: #bd0b0b;
    font-size: 60px;
    font-weight: bold;
    text-align: center; 
    cursor: pointer;

}


/* Userpage.php */





/* Admin.php */

.adminpagerubric{

    width: 100%;
    float: left;
    height: 80px;
    background-color: #ff8800;
    margin-top: 60px;
    font-size: 60px;
    font-weight: bold;
    text-align: center; 

}

.adminpagediv{
    width: 100%;
    float: left;
    height: 920px;
    margin-bottom: 80px;
    background-color: #ffac4d;
    font-size: 60px;
    font-weight: bold;
    text-align: center; 


}

.adminform{
    padding-top: 40px;
    width: 100%;
    font-size: 36px;

}
.adminform input[type=text]{
    width: 16%;
    font-size: 45px;
}
.adminform legend{
    width: 100%;
    text-align: center;
    font-size: 45px;
}
.adminpagediv a{
    padding-top: 20px;
    color: #bd0b0b;

}
.divdivider{
    float: left;
    width: 100%;
    margin-top: 15px;
    height: 5px;
    background-color: black;
}


/* Admin.php */


/* Product_listing.php */
.product_listing {
    height: 22%;
    margin-top: 1em;
    max-height: 14em;
    width:100%;
    display: inline-flex;
    border: solid 1px;
    background-color: white;
    box-shadow: 0px 0px 3px grey;
}

.product_listing #imagecontainer {
    height: 100%;
    width: 20%;
}

.product_listing #productlink {
    width:100%;
}

.product_listing #out_of_order {
    text-align: center;
    font-size: 3em;
    font-weight: bold;
}

.product_listing #buy_me {
    background-color:#bd0b0b;
    min-width:30%;
}
#buy_me .selectAmountDiv .amountForm{
 padding-top: 85px;

}
#buy_me p{
    padding-top: 70px;

}

/* Product_listing.php */

/* Liteknapp */
.liteknapp{
    opacity: 0.9;
    cursor: pointer;

}
.liteknapp:hover{
    opacity: 1;

}


/* Liteknapp */



/* Recensions formulär  */
.openFormButton {
    background-color: #555;
    color: white;
    padding: 16px 20px;
    border: none;
    cursor: pointer;
    opacity: 0.8;
    position: fixed;
    bottom: 23px;
    right: 28px;
    width: 280px;
    z-index: 10;
}

.form-popup {
    display: none;
    position: fixed;
    bottom: 0;
    border: 3px solid #f1f1f1;
    z-index: 19;
}


.form-container {
    max-width: 300px;
    padding: 10px;
    background-color: white;
    z-index: 11;
}
.form-container h1{

    font-size: 30px;

}

.form-container input[type=text] {
    width: 90%;
    padding: 15px;
    margin: 5px 0 22px 0;
    border: none;
    background: #f1f1f1;
}

.form-container input[type=number] {
    width: 90%;
    padding: 15px;
    margin: 5px 0 22px 0;
    border: none;
    background: #f1f1f1;
}


.form-container input[type=text]:focus {
    background-color: #ddd;
    outline: none;
}
.form-container input[type=number]:focus {
    background-color: #ddd;
    outline: none;
}
.knapp{
    margin-top: 10px;    
    padding: 16px 20px;
    border: none;
    cursor: pointer;
    opacity: 0.8;

}

.form-container .knapp {
    background-color: #329114;
    color: white;
    margin-top: 0px;  
    width: 100%;
    margin-bottom:10px;

}


.form-container .avbryt {
    background-color: #bd0b0b;
}

.knapp:hover, .lämnaKommentarKnapp:hover {
    opacity: 1;
}
#recensionform{
    right: 15px; 

}
#userform h2{
    font-size: 30px;
    text-align: right;

}
#userformbutton{
    left: 28px;
    z-index: 10;

}
#userform{
    left: 15px;

}
/* Recensions formulär  */

